body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.flex{
    display:flex;
    justify-content: center;
}
.pageContainer{
    display: flex;
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
}

.left {
    background-color: rgb(63, 130, 108);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw; 
    transition: width 0.5s ease; 
}


.header{
    background-color: aquamarine;
    z-index: 5;
    height:5vh;
    width:80%;
    margin-top: 5vh;
    border-radius: 10px;
    align-items: center;
    position: absolute;
}

.selectionContainer{
    position: absolute;
    z-index: 0;
    display: grid;
    height:100%;
    width:100%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}



.selectionContainer img {
    width: 90%; 
    height: 90%;
    object-fit: contain;
}

.buttons{
    position: absolute;
    opacity: 1;
    align-items: center;
}

.buttons img{
    width: 90%; 
    height: 90%;
}

.sizing {
    z-index: 10;
    height: 100%;
    width:100%;
}

.name{
    grid-area: 3 / 2 / 4 / 3;
    z-index: 10;
}

.size{
    grid-area: 3 / 3 / 4 / 4;
}

.location{
    grid-area: 3 / 4 / 4 / 5;
}

.hover-text {
    font-size: 14px;
    color: #333; 
    font-weight: bold;  
    position: absolute;  
}

.selectCard,
.selectCardSize{
    position: absolute;
    background-color: rgb(78, 86, 139);
    height:60%;
    width: 25%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 10;
    grid-row-start:3;

}

.selectCard{
    grid-column-start: 2;
}

.selectCardSize{
    grid-column-start: 3;


}
.selectCard select.list,
.selectCardSize select.listSize {
    position: absolute; /* Ensure it's properly positioned */
    z-index: 10; /* Increase z-index if needed */
}

.show{
    display: block;
}

.right {
    background-color: beige;
    max-width: 45vw;
    width: 0; 
    transition: width 0.5s ease; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.done,
.done-size{
    background-color: aliceblue;
    height:3vh;
    width:5vw;
    display: flex;
    justify-content: center;
    place-self: center;

}

.selectCardSize {
    width: 25% !important;
}