body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff2a8;
}

h2{
    color:#fff2a8
}

.flex{
    display:flex;
    justify-content: center;
}
.pageContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left {
    position: relative;
    background-color: rgb(240, 244, 255);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 100vw; 
    transition: width 0.5s ease; 
}


.header{
    background-color: rgb(47,81,122);
    color: rgb(219, 229, 255);
    z-index: 5;
    height:5vh;
    width:80%;
    margin-top: 5vh;
    border-radius: 10px;
    align-items: center;
    position: absolute;
}

.selectionContainer{
    position: absolute;
    z-index: 0;
    display: grid;
    height:100%;
    width:100%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}



.selectionContainer img {
    width: 90%; 
    height: 90%;
    object-fit: contain;
}

.buttons{
    position: absolute;
    opacity: 1;
    align-items: center;
}

.buttons img{
    width: 90%; 
    height: 90%;
}

.sizing {
    z-index: 10;
    height: 100%;
    width:100%;
}

.name{
    grid-area: 3 / 2 / 4 / 3;
    z-index: 10;
}

.size{
    grid-area: 3 / 3 / 4 / 4;
}

.location{
    grid-area: 3 / 4 / 4 / 5;
}

.hover-text {
    font-size: 14px;
    color: #333; 
    font-weight: bold;  
    position: absolute;  
}

.selectCard,
.selectCardSize,
.selectCardLoc{
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    background-color: rgb(78, 86, 139);
    height:100%;
    border-radius: 20px;
    min-width: 20vw;
    display: none;
    z-index: 10;
    grid-row-start:3;
    padding: 2vh;
}

.selectCard{
    grid-column-start: 2;
}

.selectCardSize{
    grid-column-start: 3;
}

.selectCardLoc{
    grid-column-start: 4;
}
.selectCard select.list,
.selectCardSize select.listSize,
.selectCardLoc select.listLoc {
    z-index: 10; /* Increase z-index if needed */
}

.show{
    display: block;

}

.right {
    background-color: rgb(185, 190, 219);
    border-radius: 20px;
    max-width: 40vw;
    width: 0; 
    transition: width 0.5s ease; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.done,
.done-size,
.done-Loc{
    background-color: rgb(254, 255, 197);
    color: rgb(169, 187, 210);
    border-radius: 5px;
    position: relative;
    height:3vh;
    width:5vw;
    justify-content: center;
    place-self: center;
    align-items: center;
    place-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}